<div class="d-flex flex-column justify-content-center align-items-center vh-100">
<div class="marquee">
    <div class="marquee-content">
      <span>Question? Question? Question? Question? Question? Question? Question? Question? Question? </span>
      <span>Question? Question? Question? Question? Question? Question? Question? Question? Question? </span>
    </div>
  </div>
  <h1 class="text-center mb-3">Ask a question to couch</h1>
  <div class="input-group mb-3 w-50">
    <form action="/answer" data-turbo="false" class="w-100">
      <div class="input-group">
        <input type="text" name="question" placeholder="Type your question here" class="form-control">
        <button type="submit" class="btn btn-primary">Ask!</button>
      </div>
    </form>
  </div>
  <div class="marquee">
    <div class="marquee-content">
      <span>Question? Question? Question? Question? Question? Question? Question? Question? Question? </span>
      <span>Question? Question? Question? Question? Question? Question? Question? Question? Question? </span>
    </div>
  </div>
</div>
